html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.knowwhat{

  margin-bottom:2rem;
}
.testbg{

  background: linear-gradient(rgba(0,0,0,0),
  rgba(0, 0, 0, 0)), url('/Photo/wallhaven-289079.jpg');
  background-repeat: no-repeat;background-size: cover;
}
.donsee{
  display: none;
}
.needwhite{
  color: white;
}
.noUnderline{
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

